body {
	background-color: #EEFFFF;
}

#page {
	margin: 30px auto;
	padding: 20px;
	background-color: #F7FFFF;
	text-align: center;
	box-shadow: 3px 5px 20px #AAAAAA;
}

h1 {
	margin: 30px auto;
	color: #555577;
}

#log-response {
	text-align: left;
	color: #222222;
}

.response {
	color: #222255;
	font-size: 1.125em;
}

#passwd {
    width: 100%;
}

.colcenter {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.button {
	width: auto;
	margin: 15px auto 10px auto;
	text-align: center;
	border-radius: 5px;
	background-color: #66CC55;
	cursor: pointer;
	transition: all 0.2s ease;
	font-weight: bold;
	color: #225533;
	box-shadow: 2px 2px 10px #AAAAAA;
}

.button:hover {
	color: #FFFFFF;
	background-color: #44AAFF;
}

.button:active {
	background-color: #50B0FF;
}

.button * {
	padding: 15px;
	margin: 0px auto;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
}

.loader {
    width: 80px;
    height: 80px;
	margin: 0px auto;
    border: 16px solid #f0f0f0;
    border-top: 16px solid #3399dd;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
